# Maven (Backend)
**/target/
!.mvn/wrapper/maven-wrapper.jar

# Node & Angular (Frontend)
**/node_modules/
**/dist/
**/.angular/

# IDEs
.idea/
*.iml
.vscode/
**/bin/
**/out/

# Logs
*.log
**/logs/

# Environment & OS
.env
application-local.properties
.DS_Store
Thumbs.db

# Database (Docker data)
mysql_data/
*.db