@import "tailwindcss";

@layer base {
  body {
    background-color: #030712;
    color: white;
    margin: 0;
    font-family: sans-serif;
  }

  /* --- ELIMINARE SCROLLBAR / SPIN-BUTTONS SALARIU --- */
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
}

@layer components {
  .bento-card {
    display: block;
    background-color: rgba(30, 41, 59, 0.8) !important; 
    border: 1px solid rgba(255, 255, 255, 0.2) !important;
    border-radius: 1.5rem;
    padding: 2rem !important; 
    backdrop-filter: blur(10px);
    transition: all 0.3s ease;
    margin-bottom: 1rem;
  }

  .bento-card:hover {
    background-color: rgba(51, 65, 85, 0.9) !important;
    border-color: #6366f1 !important;
    transform: translateY(-5px);
  }
}